@model System.Security.Claims.ClaimsPrincipal

<!DOCTYPE html>

<html>
<head>
    <title>User Example</title>
</head>
<body>
    <div>
        <h4>user details:</h4>
        <ul>
            <li> Identity Name: @Model.Identity.Name</li>
            @foreach (var claim in Model.Claims)
            {
                <li>@claim.Type: @claim.Value</li>
            }
        </ul>
        <h4>notifications:</h4>
        <ul id="messagesList"></ul>
    </div>
<script src="https://unpkg.com/@@aspnet/signalr@1.1.2/dist/browser/signalr.min.js"></script>
<script type="text/javascript">
    var connection = new signalR.HubConnectionBuilder()
        .withUrl("/notificationHub")
        .configureLogging(signalR.LogLevel.Information)
        .build();
    connection.on("addedToBill", () => { 
        var encodedMsg = "you've been added to a bill! " + new Date();
        var li = document.createElement("li");
        li.textContent = encodedMsg;
        document.getElementById("messagesList").appendChild(li);
    });
    connection.start();
</script>
</body>
</html>